<h1>Sign Up Confirmation</h1>
<h2>Are you sure you want to create this user?</h2>
<p>Name:<%= @user.name %></p>
<p>Email:<%= @user.email %></p>
<div class="row">
  <div class="col-md-4", style="width: auto;">
    <%= button_to "Yes", {controller: "users", action: "create", params: params}, class: 'btn btn-success' %>
  </div>
  <div class="col-md-4", style="width: auto;">
    <%= button_to "No", {controller: "users", action: "new"}, class: 'btn btn-failure', :method => :get %>
  </div>
</div>
